.cover__link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: calc((100vw - 0.075vw)/1.6);
  position: relative;
  background-image: url(../../../images/photo_cover/__background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  text-decoration: none;
  z-index: 0;
  gap: 32px;
}

.cover__link:before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background-color: #2A2C2F;
  opacity: .3;
  position: absolute;
  top: 0;
  left: 0;
  transition: opacity .5s ease-in-out;
}

.cover__link:hover::before {
  opacity: .8;
}

@media screen and (min-width: 1280px) {
  .cover__link {
    min-height: 740px;
  }
}

@media screen and (max-width: 1024px) {
  .cover__link {
    min-height: calc(100vw / 1.6);
  }
}
@media screen and (max-width: 695px) {
  .cover__link {
    gap: 16px;
  }
}

