.intro {
  margin: 0 auto;
  max-width: 984px;
}

@media screen and (max-width: 1024px) {
  .intro {
    margin-left: 48px;
  }
}

@media screen and (max-width: 880px) {
  .intro {
    margin: 0 24px;
  }
}

@media screen and (max-width: 695px) {
  .intro {
    margin: 0;
  }
}
