.cover__img {
  width: 100%;
  grid-row: 1/5;
  grid-column: 1/4;
  z-index: 0;
  opacity: .7;
  transition: opacity .5s ease-in-out;
}

.cover__link:hover~.cover__img {
  opacity: .2;
  transition: opacity .5s ease-in-out;
}
