.intro__content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 690px;
  box-sizing: border-box;
}

@media screen and (max-width: 770px){
  .intro__content {
    max-width: 720px;
  }
}
@media screen and (max-width: 660px){
  .intro__content {
    max-width: 500px;
    margin: 0 16px;
  }
}
